<h1>[Oficialia]</h1>
<form method="post" action="" class="form-horizontal" ng-app="MyFirseModule" onload="bus()" enctype="multipart/form-data" ng-init="id=<?=$arr['inf']['id_depe']?>" id="form-ofi" onsubmit="validarForm(); return false;">
<div class="panel panel-primary sepa">
	<div class="panel-heading">Datos Generales</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="col-sm-4 control-label">[dep]</label>
			<div class="col-sm-8">
                <article ng-controller="FirseController">
                    <select name="depen" class="form-control" ng-click="bus()" ng-model="id">
                        <?php foreach ($arr['dep'] as $key => $value):?>
                            <option value="<?= $value['id_depe']?>"<?=($value['id_depe'] == $arr['inf']['dep_ofi'])?'selected':'';?> ><?= $value['nombre_depe']?></option>
                        <?php endforeach;?>
                    </select>
                    <dl class="dl-horizontal">
                        <dt>[nombre]</dt>
                        <dd>{{todo[0].nombre_depe}}</dd>
                        <dt>[ubicacion]</dt>
                        <dd>{{todo[0].ubi_depe}}</dd>
                        <dt>[responsable]</dt>
                        <dd>{{todo[0].resp_depe}}</dd>
                        <dt>[contacto]</dt>
                        <dd>{{todo[0].conta_depe}}</dd>
                        <dt>[tel]</dt>
                        <dd>{{todo[0].tel_depe}}</dd>
                        <dt>[ext]</dt>
                        <dd>{{todo[0].ext_depe}}</dd>
                    </dl>
                </article>
            </div>
		</div>
		<div class="form-group">
            <label class="col-sm-4 control-label">No. de Oficio</label>
            <div class="col-sm-8">
            	<input type="text" class="form-control" name="numero" required value="<?=$arr['inf']['no_ofi']?>" id="numero">
            </div> 
		</div>
        <div class="form-group">
           <label class="col-sm-4 control-label">Seleccionar Archivo</label>
            <div class="col-sm-8">
                <?php if($arr['inf']){?>
                <input type="hidden" name="foto1" value="<?=$arr['inf']['archivo_ofi']?>">
                <?php } ?>
                <input type="file" id="files" name="foto" accept=".pdf">
            </div> 
        </div>
	</div>
</div>
<div class="panel panel-primary sepa">
	<div class="panel-heading">Concepto</div>
	<div class="panel-body">
		<div class="form-group">
            <label class="col-sm-4 control-label">Concepto</label>
            <div class="col-sm-8">
                <select class="form-control" name="con" required id="cons">
                    <option value="0"></option>
                	<?php for($i=1;$i<8;$i++):?>
                	<option value="<?=$i?>" <?php echo ($arr['inf']['con_ofi'] == $i)?'selected':'';?>>[Con<?=$i?>]</option>
                	<?php endfor;?>
                </select>
            </div>
		</div>
        <div class="form-group" id="nomCon">
            <label class="col-sm-4 control-label">[nombre] del Concepto</label>
            <div class="col-sm-8">
                <input class="form-control" name="nom_con" value="<?=$arr['inf']['nomCon_ofi']?>" id="nombreCon">
            </div>
        </div>
        <div id="eventos" style="display:none;">
            <div class="form-group">
                <label class="col-sm-4 control-label">Nombre del Evento</label>
                <div class="col-sm-8">
                    <input class="form-control" name="nom_eve" value="" id="nombreEve">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Sede</label>
                <div class="col-sm-8">
                    <input class="form-control" name="sede_eve" value="" id="sedeEve">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Fecha del Evento y Hora</label>
                <div class="col-sm-4">
                    <input class="form-control" name="fecha_eve" value="" id="fechaEve" readonly>
                </div>
                <label class="col-sm-4 control label">Hora</label>
                <div class="col-sm-4">
                    <input type="text" name="hora_eve" id="hora_eve" onkeyup="dos_puntos('hora_eve')" onblur="validarHora('hora_eve')">                    
                </div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-4 control-label">[des]</label>
            <div class="col-sm-8">
                {op}
                <textarea id="desc" style="width:100;height:100px;" name="des" placeholder="Describa el concepto..." class="form-control"><?=$arr['inf']['des_ofi']?></textarea>
            </div>
		</div>
        <?php if(!$arr['inf']){?>
        <div class="form-group" id="service">
            <label class="col-sm-4 control-label" for="ser">[solSer]</label>
            <div clss="col-sm-8">
                <input type="checkbox" id="ser" name="ser" value="true" class="checkOfi">
            </div>
        </div>
        <div class="form-group invisible">
            <label class="col-sm-4 control-label">[tds]</label>
            <div class="col-sm-8">
                <select class="form-control" name="tser">
                    <option value="0"></option>
                    <?php for($i=1;$i<9;$i++):?>
                    <option value="<?=$i?>">[tSe<?=$i?>]</option>
                    <?php endfor;?>
                </select>
            </div>
        </div>
        <?php } ?>
	</div>
    <?php if(!$arr['inf']){?>
	<input type="hidden" name="fecha" value="<?=date('d/m/Y')?>">
    <input type="hidden" name="hora" value="<?=date('H:i')?>">
	<input type="hidden" name="usu" value="<?=$_SESSION['name_user']?>">
    <input type="hidden" name="idusu" value="<?=$_SESSION['id_user']?>">
    <?php }else{ ?>
    <input type="hidden" name="edit" value="<?=$arr['inf']['id_ofi']?>">
    <input type="hidden" name="num_old" id="num_old" value="<?=$arr['inf']['no_ofi']?>">
    <?php } ?>
</div>
<input type="hidden" name="url" value="<?=$_SERVER['PHP_SELF']?>">
<button class="btn btn-primary" type="submit">Enviar</button>
<?php if(!$arr['inf']){?><button class="btn btn-default" onclick="return oficios()">[new]</button><?php } ?>
</form>
<div id="msj" class="msj-save">
</div>
<script>
    $(function () {
        var numeros = <?=$arr['nums'];?>;
        console.log(numeros);
        $('#numero').blur(function () {
            var este = $(this)
            if(este.val())
            if(validarNumero(numeros,este.val()) && ($("#num_old").val() !== null && este.val() != $("#num_old").val()))
                este.val('').addClass('vacio').attr('placeholder','Número ya registrado')
        })
        $(document).on('focus click','#numero',function () {
            $(this).removeClass('vacio');
        })
        function validarNumero (lista,numero) {
            return in_array(numero,lista);
        }
        $('#ser').click(function () {
            var este = $(this);
            var abuelo = este.parent().parent()
            var tioAbuelo = abuelo.next()
            if(este.prop('checked') == true){
                tioAbuelo.removeClass('invisible');
            }else{
                tioAbuelo.addClass('invisible');
            }
        })
        $("#cons").change(function () {
            if($(this).val()==6){ $('#eventos').show();$("#nombreEve,#fechaEve,#hora_eve,#sedeEve").attr('required',true)
                                $('#service').hide()}
            else {$('#eventos').hide();$("#nombreEve,#fechaEve,#hora_eve,#sedeEve").attr('required',false)}
        })
        $("#fechaEve").calendarioDW();
        $("#nombreCon, #nombreEve").keypress(function (event) {
            if(event.which == 13){
                $("#desc").focus()
                event.preventDefault();
            }
        })
        if($('#cons').val() == 6){
            $('#eventos').show();$("#nombreEve,#fechaEve,#hora_eve,#sedeEve").attr('required',true);$('#service').hide();
            $.ajax({
                url:'index.php/getEventoData',
                dataType:'json',
                type:'POST',
                data:'id='+$("#numero").val(),
                success:function (data) {
                    console.log(data)
                    var fecha = data.fecha_eve.split('-');
                    fecha = ((fecha[2]<10)?fecha[2][1]:fecha[2])+'/'+((fecha[1]<10)?fecha[1][1]:fecha[1])+'/'+fecha[0];
                    var hora = data.hora_eve.split(':');
                    hora = hora[0]+':'+hora[1];
                    $('#nombreEve').val(data.nombre_eve)
                    $('#sedeEve').val(data.sede_eve)
                    $('#fechaEve').val(fecha)
                    $('#hora_eve').val(hora)
                },
                error:function () {
                    console.log('error');
                }
            })
        }else if($('#cons').val() == 7){
            $('#nomCon').show();
        }
    })
    function validarForm () {
        if(($("#cons").val() == 7 && ($("#nombreCon").val() == "" || $("#nombreCon").val() == null)) || ($("#cons").val() == 6 && ($("#nombreEve").val() == "" || $("#nombreEve").val() == null))){
          // alert("bien")
           ($("#cons").val()==6) ? $("#nombreEve").focus():$("#nombreCon").focus();

           return false;
        }else{
            $("#form-ofi").submit();
        }
        return false;
    }


    function validarHora (id) {
        if(!valHorVer($("#"+id).val())) $("#"+id).val("");
    }



    function valHorVer (hor) {
        var hora = hor.split(':')
        if(hora[0] && hora[1]){
            if(isNaN(hora[0]) || isNaN(hora[1]) || hora[0].length != 2 || hora[1].length != 2 || hora[0] < 0 || hora[0] > 24 || hora[1] > 59 || hora[1] < 0)
                return false
        }else
            return false
        return true
    }


</script>